<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.zqlnb.sql.sqlwork.dao.activityDao">

    <!--
     public interface activityDao {
        //查所有
        public List<activity> getAllactivity();

        }-->
    <select id="getAllactivity" resultType="com.cn.zqlnb.sql.sqlwork.pojo.activity">
    select * from activity
    </select>

    <insert id="addActivity" parameterType="com.cn.zqlnb.sql.sqlwork.pojo.activity">
    insert into activity(activity_id,title) values(#{activity_id},#{title})
    </insert>

</mapper>