<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.zqlnb.sql.sqlwork.dao.turnDao">

    <select id="getTurnByPlaceName" resultType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
    select * from turn where placeName=#{placeName} and activity_id=#{activity_id}
    </select>
    <select id="getTurnByDate" resultType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
        select*from turn where detailDate=#{date} and activity_id=#{activity_id}
    </select>

    <select id="getTurnByTurnId" resultType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
    select * from turn where turn_id=#{turn_id}
    </select>

    <select id="getTurnByPlaceNameAndDate" resultType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
     select * from turn where detailDate=#{date} and placeName=#{placeName} and activity_id=#{activity_id}
     </select>

    <select id="getTurnByActivityId" resultType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
    select * from turn where activity_id=#{activity_id}
    </select>

    <update id="updateTurn" parameterType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
        update turn set attendNum=#{Turn.attendNum}
        where turn_id=#{Turn.turn_id}
    </update>

    <delete id="deleteTurn" parameterType="com.cn.zqlnb.sql.sqlwork.pojo.turn">

    DELETE FROM turn WHERE activity_id = #{activity_id}
    </delete>


    <insert id="addTurn" parameterType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
    insert into turn(turn_id, limitPeople, begin_time, end_time, placeName, earlyOrNoon, attendNum, detailDate,activity_id)
     values(#{turn_id},#{limitPeople},#{begin_time},#{end_time},#{placeName},#{earlyOrNoon},#{attendNum},#{detailDate},#{activity_id})
    </insert>

    <select id="getTurnByTurnIdArray"  parameterType="java.util.List" resultType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
    select * from turn where turn_id in
    <foreach collection="turn_id" item="item" index="index" open="(" close=")" separator=",">
       #{item}
    </foreach>
    </select>


</mapper>