<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.zqlnb.sql.sqlwork.dao.turnDao">

    <select id="getTurnByPlaceName" resultType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
    select * from turn where placeName=#{placeName}
    </select>

    <select id="getTurnByTurnId" resultType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
    select * from turn where turn_id=#{turn_id}
    </select>

    <update id="updateTurn" parameterType="com.cn.zqlnb.sql.sqlwork.pojo.turn">
        update turn set attendNum=#{Turn.attendNum}
        where turn_id=#{Turn.turn_id}
    </update>


</mapper>