<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.zqlnb.sql.sqlwork.dao.UserDao">
    <select id="getUserByOpenId" resultType="java.lang.Integer">
        select count(_openid) from user where _openid=#{openid}
  </select>
    <insert id="addUserIntoDataBase" parameterType="com.cn.zqlnb.sql.sqlwork.pojo.user">
        insert into user (_openid,name,tel,grade,classNum,stuNum) values (#{openid},#{name},#{tel},#{grade},#{classNum},#{stuNum})
    </insert>

    <select id="getUserInfo" resultType="com.cn.zqlnb.sql.sqlwork.pojo.user">
        select* from user where _openid=#{openid}
    </select>
    <update id="addAdmin" parameterType="java.lang.String">
        update user set admin=1
        where _openid=#{openid}
    </update>
    <update id="deleteAdmin" parameterType="java.lang.String">
        update user set admin=0
        where _openid=#{openid}
    </update>
</mapper>